#zen-drop-link-zone {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 150px;

  background: var(--zen-branding-bg);
  overflow: hidden;
  border-radius: 18px;
  box-shadow:
    rgba(0, 0, 0, 0.45) 0px 15px 35px,
    rgba(255, 255, 255, 0.04) 0px 1px 0px inset;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 999;
  opacity: 0;
  transform: translate(-50%, -40%) scale(0.95);
  pointer-events: auto;

  &[has-focus="true"] {
    border-color: var(--zen-colors-border);
  }

  &::before {
    content: "";
    border-radius: 18px;
    position: absolute;
    background: var(--zen-primary-color);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    z-index: 1;
  }

  &[drop-side="left"] {
    &::before {
      left: 0;
      top: 0;
      width: 40%;
      height: 100%;
      opacity: 1;
    }
  }

  &[drop-side="right"] {
    &::before {
      right: 0;
      top: 0;
      width: 40%;
      height: 100%;
      opacity: 1;
    }
  }

  &[drop-side="top"] {
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      opacity: 1;
    }
  }

  &[drop-side="bottom"] {
    &::before {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      opacity: 1;
    }
  }

  & text {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    letter-spacing: 0.2px;
    user-select: none;
  }
}
